.page-header
  %h1
    Админка
    %small админское меню сверху

  %p.lead
    Будучи админом, можно #{link_to 'добавить', new_site_url} инструкцию парсера к сайту
  %p.lead
    или #{link_to 'посмотреть', parse_requests_path} статистику запросов к тем сайтам, к которым инструкция еще не была добавлена
  %p.lead
    или просто просмотреть и отредактировать базы.




