%h1
  Привет снова!
%p
  Введи сюда ссылку на понравившуюся тебе вещь, чтобы сохранить её
=form_tag parse_sites_path, :method => :post, :class => 'form-horizontal', id: 'parse-form' do
  .input-group
    =text_field_tag :url, '', class: 'form-control', placeholder: 'www.google.com'
    %span.input-group-btn
      =submit_tag 'Вперёд!', class: 'btn btn-default', id: 'parse-btn'